@media (max-width: 1200px) {
    body {
        margin: auto;
        align-items: stretch;
    }

    .container {
        padding-top: 122px;
        position: absolute;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 14px;
    }

    p {
        font-size: 10px;
    }

    .box1 {
        margin: 15px;
    }
    
}
/* 
@media screen (max-width: 1000px) {
    
} */